@font-face {
    font-family: "Helvetica Neue";
    src: url(../public/helveticaneue.ttf);
}
.dark {
    background-color: red;
    font-family: "Helvetica Neue";
    color:white;
}

.defaultText {
    margin: 12px;
    font-family: "Helvetica Neue";
    color:white;
}

.comiksand {
    margin: 12px;
    font-size: 12px;
    font-family: "Comic Sans MS";
    color:white;
}

.flashcard {
	width: 300px;
	border:10px #F8F659;
	background-color: #FFFD44;
}